[uwsgi]
socket = 127.0.0.1:3333
chdir = /var/www/multiverse/
plugin = python3
virtualenv = /var/www/multiverse/.environment
module = multiverse
callable = app
processes = 4
threads = 2
stats = 127.0.0.1:9191
