html, body {
    background: #111111;
    margin-top: 1em;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: "Courier New", monospace;
}
html.reader {
    margin-top: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 2em;
    line-height: 1em;
    z-index: 1000;
    background: #111111;
    color: #dddddd;
    opacity: 0.5;
    transition: opacity 0.25s;
}
header.dismissed {
    opacity: 0;
}
header:hover, header.dismissed:hover {
    opacity: 1;
}

@media screen and (max-width: 35.5em) {
    header h1, header div {
        font-size: 75%;
    }
}

header.recalled, html.leftToRight header.recalled {
    opacity: 1;
}

header .tools {
    font-size: 80%;
    text-align: right;
    height: 2.5em;
}
header .tools a {
    cursor: pointer;
    display: inline-block;
    height: 100%;
}
header .tools svg {
    height: 2em;
    margin-top: 0.25em;
    fill: #888888;
}
header .tools a.active svg {
    fill: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 80%;
    font-weight: normal;
}
header a {
    text-decoration: none;
    color: #dddddd;
    transition: color .25s;
}
header a:hover {
    color: #ffffff;
}

form#search input {
    margin-top: 1px;
    width: 95%;
    height: 2em;
    border: 1px solid #666666;
    background: #111111;
    color: #eeeeee;
}
form#search input:focus {
    outline: #777777 auto 4px;
}

ol.covers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol.covers li {
    overflow: hidden;
    height: 26em;
}
ol.covers figure {
    position: relative;
    height: 26em;
}
ol.covers figure figcaption {
    position: absolute;
    right: .5em;
    bottom: .5em;
    padding: 0 .5em;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    text-align: right;
    color: #ffffff;
    background: #222222;
    opacity: 0.5;
    font-size: .8em;
    transition: opacity 0.25s;
}
ol.covers li:hover figure figcaption {
    opacity: 1;
}


ol#pages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ol#pages li {
    margin: 0;
    padding: 0;
    text-align: center;
}
ol#pages li img {
    display: inline-block;
}

html.fitHeight, html.fitHeight body, ol#pages.fitHeight, ol#pages.fitHeight li {
    height: 100%;
}
html.fitHeight body {
    margin-top: 0;
}
ol#pages.fitHeight li img, ol#pages.fitHeight li figure, ol#pages.fitHeight li figure img {
    max-width: 100%;
    height: 100%;
}

html.leftToRight, html.leftToRight body, ol#pages.leftToRight, ol#pages.leftToRight li, ol#pages.leftToRight li figure {
    height: 100%;
}
html.leftToRight body {
    margin-top: 0;
}
html.leftToRight header {
    opacity: 0;
}
ol#pages.leftToRight {
    display: inline-block;
    white-space:nowrap;
}
ol#pages.leftToRight li, ol#pages.leftToRight li figure {
    display: inline-block;
}
ol#pages.leftToRight li img, ol#pages.leftToRight li figure img {
    max-width: initial;
    height: 100%;
}

ol#pages li.next-issue figure {
    position: relative;
}
ol#pages li.next-issue figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 6em;
    overflow: hidden;
    text-align: center;
}
ol#pages li.next-issue figure figcaption span {
    display: inline-block;
    padding: 1em;
    line-height: 2em;
    color: #ffffff;
    background: #222222;
    opacity: 0.5;
    transition: opacity 0.25s;
}
ol#pages li.next-issue:hover figure figcaption span {
    opacity: 1;
}
