<!DOCTYPE html>
<html class='{% block pageclass %}{% endblock %}'{% if manifest_url %}manifest='{{ manifest_url }}'{% endif %}>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <title>{% if title %}{{title}} | {% endif %}Multiverse</title>
        <link rel="icon" href="{{ url_for('static', filename='multiverse.png') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='multiverse.png') }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {% assets "stylesheets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
        {% assets "javascripts" %}<script async defer type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    </head>
    <body>
        <header class='pure-g'>
            <div class='logo pure-u-3-5'>
                <h1>
                    <a href='{{ url_for('index') }}'>multiverse</a>
                    {% for name, path in paths %} &bull; <a href='{{path}}'>{{name}}</a>{% endfor %}
                    <br/>{{title}}
                </h1>
            </div>
            <div class='tools pure-u-2-5'>
                <a id='refresh' title='A multiverse update is ready.'>
                    <!-- action/ic_cached_48px.svg -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <path d="M38 16l-8 8h6c0 6.63-5.37 12-12 12-2.03 0-3.93-.51-5.61-1.39l-2.92 2.92c2.48 1.55 5.39 2.47 8.53 2.47 8.84 0 16-7.16 16-16h6l-8-8zm-26 8c0-6.63 5.37-12 12-12 2.03 0 3.93.51 5.61 1.39l2.92-2.92c-2.48-1.55-5.39-2.47-8.53-2.47-8.84 0-16 7.16-16 16h-6l8 8 8-8h-6z"/>
                        <path d="M0 0h48v48h-48z" fill="none"/>
                    </svg>
                </a>
                {% block tools %}{% endblock %}
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
