<!DOCTYPE html>
<html class='{% block pageclass %}{% endblock %}'{% block manifest %}manifest='{{ url_for('application_manifest') }}'{% endblock %}>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1' />
        <title>{% if title %}{{title}} | {% endif %}Multiverse</title>
        <link rel="icon" href="{{ url_for('static', filename='multiverse.png') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='multiverse.png') }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {% assets "stylesheets" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />{% endassets %}
        {% assets "javascripts" %}<script async defer type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    </head>
    <body>
        <header class='pure-g'>
            <div class='logo pure-u-3-5'>
                <h1>
                    <a href='{{ url_for('index') }}'>multiverse</a>
                    {% for name, path in paths %} &bull; <a href='{{path}}'>{{name}}</a>{% endfor %}
                    <br/>{{title}}
                </h1>
            </div>
            <div class='tools pure-u-2-5'>
                {% block tools %}{% endblock %}
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
