{% extends 'base.html' %}
{% block pageclass %}library{% endblock %}
{% block tools %}
                <form id='search' method='GET' action='{{search_url}}'>
                    <input type='text' name='q' placeholder='search' value='{{query}}' />
                </form>
{% endblock %}
{% block content %}
        <ol id='library' class='covers pure-g'>
        {% for item in items %}
            <li class='pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5'>
                <a href='{{item.uri}}'>
                    <figure>
                        <img class='cover pure-img' src='{{item.cover}}' />
                        <figcaption>{{item.title}}</figcaption>
                    </figure>
                </a>
            </li>
        {% endfor %}
        </ol>
{% endblock %}
